body {
    font-family: Arial, san serif;
    background: #222;
    color: #0ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 { font-size: 4em; margin-bottom: 20px; }
button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
}